<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Edit user hobbies</title>
	</head>
	<body>
		<h1>Edit user hobbies</h1>
		<form th:object="${user}" action="index.html" th:action="@{/save}" method="post">
			<input type="hidden" th:field="*{id}" />
			User hobbies (checkboxes):
			<div th:each="hobby : ${allHobbies}">
				<input type="checkbox" th:id="${{hobby}}" th:value="${{hobby}}" th:field="*{hobbies}" />
				<label th:for="${{hobby}}" th:text="${hobby.description}">Cinema</label>
			</div>
			<br />
			<input type="submit" />
		</form>
	</body>
</html>